.button {
  position: relative;

  font-size: 1.06rem;
  font-weight: 400;
  color: var(--second);
  background: linear-gradient(90deg, rgba(166,12,12,1) 0%, rgba(229,75,75,1) 100%);
  padding: 0.56rem 2.41rem 0.76rem 2.41rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: var(--transition);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.7rem;
    width: 0%;
    height: 1px;
    
    background: var(--second);
    transition: var(--transition);
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.85;

    &::before {
      width: 50%;
    }
  }
}