@import '../../app/utils.scss';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: 0;
  width: 30.06rem;
  height: 20.31rem;
  opacity: 0;
  pointer-events: none;

  background: var(--primary);
  box-shadow: 0 4px 100px secondVariation(0.067);
  border-radius: 3.13rem;
  border-bottom-right-radius: 0;
  transition: opacity 300ms ease, visibility 300ms ease;

  img {
    box-shadow: 0 4px 51px rgb(166, 12, 12, 0.13);
    cursor: pointer;
  
    &:first-child {
      transform: scale(0.989);
    }
  
    &:hover {
      opacity: 0.77;
      transition: var(--transition);
    }
  }
  
  .instagram {
    padding: 0.7rem 0 0 1.2rem;
    vertical-align: top;
  }

  li {
    margin: 0 0 1.2rem 0;

    font-size: 1.13rem;
    list-style-type: none;
    
    a {
      position: relative;

      color: secondVariation(0.82);
      text-decoration: none;
      font-weight: 300;
      transition: var(--transition);

      &::before {
        content: '';
        position: absolute;
        left: 1%;
        bottom: -0.5rem;
        width: 0%;
        height: 1px;
        
        background: var(--accent);
        transition: var(--transition);
        opacity: 0.7;
      }

      &:hover {
        color: secondVariation(0.677);

        &::before {
          width: 79%;
        }
      }
    }

    &:first-child {
      img {
        vertical-align: bottom;
        margin: 0 0.3rem 0 0;
      }
    }

    &:nth-child(2) {
      img {
        margin: 0 0.3rem 0 0;
      }
    }

    &:last-child {
      img {
        margin: 0 0.2rem 0 0;
      }
    }

  }
}

.socials {
  img {
    box-shadow: 0 4px 31px rgb(166, 12, 12, 0.35);
  }
}

.contactOpen {
  visibility: 100%;
  opacity: 100%;
  width: 30.06rem;
  height: 20.31rem;
  pointer-events: initial;
}

.bot {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h6 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      opacity: 0.7;
    }
  }
}


// Blur
.blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.4);  
  backdrop-filter: blur(7px);
  transition: opacity 300ms ease, visibility 300ms ease;
}

.blurOpen {
  opacity: 1;
  visibility: 1;
  width: 100vw;
  height: 100vh;
}


@media all and (max-width: 1024px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: 0;
    width: 92%;
    height: 20.31rem;
    opacity: 0;
    pointer-events: none;
    z-index: 10000;

    background: var(--primary);
    box-shadow: 0 4px 100px secondVariation(0.067);
    border-radius: 3.13rem;
    border-bottom-right-radius: 0;
    transition: opacity 300ms ease, visibility 300ms ease;

    img {
      box-shadow: 0 4px 51px rgb(166, 12, 12, 0.13);
      cursor: pointer;
    
      &:first-child {
        transform: scale(0.989);
      }
    
      &:hover {
        opacity: 0.77;
        transition: var(--transition);
      }
    }
    
    .instagram {
      padding: 0.7rem 0 0 1.2rem;
      vertical-align: top;
    }

    li {
      margin: 0 0 1.2rem 0;

      font-size: 1.13rem;
      list-style-type: none;
      
      a {
        position: relative;

        color: secondVariation(0.82);
        text-decoration: none;
        font-weight: 300;
        transition: var(--transition);

        &::before {
          content: '';
          position: absolute;
          left: 1%;
          bottom: -0.5rem;
          width: 0%;
          height: 1px;
          
          background: var(--accent);
          transition: var(--transition);
          opacity: 0.7;
        }

        &:hover {
          color: secondVariation(0.677);

          &::before {
            width: 79%;
          }
        }
      }

      &:first-child {
        img {
          vertical-align: bottom;
          margin: 0 0.3rem 0 0;
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 0.3rem 0 0;
        }
      }

      &:last-child {
        img {
          margin: 0 0.2rem 0 0;
        }
      }

    }
  }

  .socials {
    img {
      box-shadow: 0 4px 31px rgb(166, 12, 12, 0.35);
    }
  }

  .contactOpen {
    visibility: 100%;
    opacity: 100%;
    width: 92%;
    height: 20.31rem;
    pointer-events: initial;
    z-index: 10000;
  }

  .bot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--accent);
      text-decoration: underline;
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        opacity: 0.7;
      }
    }
  }


  // Blur
  .blur {
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.4);  
    backdrop-filter: blur(7px);
    transition: opacity 300ms ease, visibility 300ms ease;
    z-index: 100;
  }

  .blurOpen {
    opacity: 1;
    visibility: 1;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

}